@{
  Layout = "_Layout";
}

@model Mob.Models.Job

<h2>Add a criminal</h2>

<h4>Add a criminal to this job: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.JobId)

  @Html.Label("Select category")
  @Html.DropDownList("CriminalId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to gabagool", "Index")</p>
