@{
  Layout = "_Layout";
}

@model Mob.Models.Job

<h2>Add an engineer</h2>

<h4>Add an engineer to this machine: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select category")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Home", "Index")</p>
