@{
  Layout = "_Layout";
}

@model Mob.Models.Criminal

<h2>Criminal Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Jobs.Count == 0)
{
  <p>This criminal does not have any jobs</p>
}
else 
{
  <h4>Jobs this criminal has:</h4>
  <ul>
  @foreach(var join in Model.Jobs)
  {
    <li>@join.Job.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Edit Criminal", "Edit", new { id = Model.CriminalId })</p>
<p>@Html.ActionLink("Delete Criminal", "Delete", new { id = Model.CriminalId })</p>
<p>@Html.ActionLink("gabagool", "Index")</p>